[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/sekigon-gonnoc/pico-sdk.git
	branch = for-keyboard-quantizer
[submodule "lib/Pico-PIO-USB"]
	path = lib/Pico-PIO-USB
	url = git@github.com:sekigon-gonnoc/Pico-PIO-USB.git
